/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* CSS Reset */

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

body {
  background-color: #0b141e;
  color: #fff;
}

a {
  color: #fff;
}

/* Header Section */

.header {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo {
  font-size: 35px;
  font-weight: 600;
  color: aqua;
}

.menu-bar a {
  font-size: 24px;
  margin-left: 55px;
  transition: 0.4s ease;
}

.menu-bar a:hover {
  color: aqua;
}

.header i {
  font-size: 48px;
  display: none;
}

/* Home Section */

section {
  padding: 160px;
  min-height: 100vh;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-bio h3 {
  font-size: 40px;
}

span {
  color: aqua;
}

.home-bio h1 {
  font-size: 56px;
  line-height: 1.4;
}

.home-bio p {
  font-size: 24px;
  padding: 16px 0;
}

.profile-pic img {
  width: 30vw;
  border-radius: 50%;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-32px);
  }
  100% {
    transform: translateY(0);
  }
}

.social-media a {
  width: 60px;
  height: 60px;
  font-size: 32px;
  margin: 16px 16px 16px 0;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}

.social-media a:hover {
  color: aqua;
  box-shadow: 0 0 8px aqua;
}

.btn {
  display: inline-block;
  background: aqua;
  margin: 32px 0;
  padding: 16px 40px;
  border-radius: 20px;
  color: #000;
  font-weight: 600;
  transition: 0.5 ease;
  margin-top: 0;
}

.btn:hover {
  color: aqua;
  background-color: #0b141e;
  box-shadow: 0 0 8px aqua;
}

/* About Section */

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  font-size: 52px;
  text-align: center;
  margin: 64px 0;
}

.about-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.about-resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.about-resume h3 {
  font-size: 38px;
  padding-top: 20px;
}

.about-text p {
  font-size: 20px;
}

/* Skills Section */

/* Projects Section */

/* Contact Section */

/* Footer Section */

/* Responsive Section */
